h1 {
    text-align: center;
}

body {
    background-color: gray;
}

#searchbar {
    margin-left: auto;
}

#research {
    width: 20px;
    height: 20px;
}

.button{
    width: 20px;
    height: 20px;
    margin-left: 2%;
}

.controlButtons {
    display: inline;
    width: 60px;
    height: 60px;
}

#youtube-player{
    display: block;
}

#progress-bar{
    height: 10px;
    width: 50%;
    display: flex;
    background-color: #333;
}

#progress-bar div{
    width: 0;
    height: 100%;
    background-color: #5d5bd3;
    transition-duration: 1s;
}