h1 {
    text-align: center;
}

body {
    background-color: gray;
}

#searchbar {
    margin-left: auto;
}

#research {
    width: 20px;
    height: 20px;
}

.button{
    width: 20px;
    height: 20px;
    margin-left: 2%;
}

.controlButtons {
    display: inline;
    width: 60px;
    height: 60px;
}

#youtube-player{
    display: block;
}