html {
    overflow: overlay;
}

h1 {
    text-align: center;
}

body {
    background-color: rgb(32, 31, 31);
    display: flex;
    color: white;
    flex-wrap: wrap;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#topSide {
    position: fixed;
    background-color: rgb(32, 31, 31);
    width: 80%;
    top: 0;
    left: 0;
    height: 20%;
}

#searchBar {
    margin-left: 35%;
}

#research {
    width: 20px;
    height: 20px;
}

#results {
    min-height: 1030px;
    margin-top: 20%;
}

.button {
    width: 20px;
    height: 20px;
    margin-left: 2%;
}

.controlButtons {
    display: inline;
    width: 60px;
    height: 60px;
}

#youtube-player {
    display: block;
}

footer {

    width: 100%;
    position: fixed;
    bottom: 0%;
    background-color: rgb(32, 31, 31);
}

#controls {
    margin-left: 20%;
    width: 60%;
    margin-bottom: 1%;
}

#progress-bar {
    height: 10px;
    width: 100%;
    display: flex;
    background-color: #333;
}

#progress-bar div {
    width: 0;
    height: 100%;
    background-color: #5d5bd3;
    transition-duration: 1s;
}

#buttons {
    margin-left: 20%;
}

#content {
    width: 70%;
    height: 100%;
}

#list {
    width: 30%;
    height: 87%;
    text-align: center;
    position: fixed;
    right: 0;
    overflow: scroll;
}

.thumbnails {
    width: 20%;
    height: 10%;
}

.resultsClass {
    display: flex;
    justify-content: space-around;

}

.resultsClass>input {
    margin-top: 2%;
}

.resultsClass>p {
    text-align: center;
}

#videos>div {
    cursor: pointer;
}

.textSmall {
    font-size: small;
}